#table_button_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 60px;
    padding-left: 8rem;
    padding-right: 8rem;
}

.table_button{
    background-color: #EBA361;
    height: 175px;
    width: 175px;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.267);
    font-family: "Radio Canada";
}
.table_button:hover{
    cursor: pointer;
}
#table_number_headings{
    display: flex;
    justify-content: center;
    padding-bottom: 00px;
}

#table_number_sales_button_div{
    display: flex;
    justify-content: right;
    margin-top: 50px;
    margin-right: 50px;
}

#table_number_sales_button{
    background-color: #DA883D;
    border-color: rgba(255, 255, 255, 0);
    height: 50px;
    width: 140px;
}
#table_number_sales_button:hover{
    background-color: white;
    font-display: black;
    border-color: black;
}